<!--
  Generated template for the SetConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
    <ion-title>set-config</ion-title>
    
  </ion-navbar>
</ion-header>



<ion-content>
 
  <ion-list required>

    <ion-item required>
      <ion-label>Start date:</ion-label>
      <ion-datetime 
      required
      displayFormat="YYYY-MM-DD-HH:mm:ss" 
      pickerFormat="YYYY-MM-DD-HH:mm:ss" 
      [(ngModel)]="startDate"
      [max]="maxDate"
      [(ngModel)]="startDate">
    </ion-datetime>
      
    </ion-item>

    <ion-item required>
      <ion-label>End date:</ion-label>
      <ion-datetime 
      required
      displayFormat="YYYY-MM-DD-HH:mm:ss" 
      pickerFormat="YYYY-MM-DD-HH:mm:ss" 
      [(ngModel)]="endDate"
      [min]="startDate"
      [max]="maxDate"></ion-datetime>
    </ion-item>

    <ion-item>
    <ion-label>Photo/Video</ion-label>
    <ion-select  value="false" [(ngModel)]="photovid">
      <ion-option value="false" >Photo</ion-option>
      <ion-option value="true">Video</ion-option>
    </ion-select>
    </ion-item>


<div *ngIf="photovid=='false'">

    <ion-item>
        <ion-label>Interval Setting</ion-label>
        <ion-select value="1" [(ngModel)]="intervalTime">
          <ion-option value="1">1 Second</ion-option>
          <ion-option value="2">2 second</ion-option>
          <ion-option value="3">3 second</ion-option>
          <ion-option value="5">5 second</ion-option>
          <ion-option value="10">10 second</ion-option>
        </ion-select>
        </ion-item>

        <ion-item>
            <ion-label >ISO Setting</ion-label>
            <ion-select value="0" [(ngModel)]="ISOTime">
              <ion-option value="0" >Auto</ion-option>
              <ion-option value="100" >ISO 100</ion-option>
              <ion-option value="200">ISO 200</ion-option>
              <ion-option value="400">ISO 400</ion-option>
              <ion-option value="800">ISO 800</ion-option>
            </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Shutter Speed</ion-label>
                <ion-select value="0" [(ngModel)]="ShutterTime">
                  <ion-option value="0">Auto</ion-option>
                    <ion-option value="50000">1/20</ion-option>
                    <ion-option value="20000">1/50</ion-option>
                  <ion-option value="10000">1/100</ion-option>
                  <ion-option value="5000">1/200</ion-option>
                  <ion-option value="2500">1/400</ion-option>
                  <ion-option value="1250">1/800</ion-option>
                  <ion-option value="1000">1/1000</ion-option>
                </ion-select>
                </ion-item>

              </div>
              <ion-item>
                <ion-label >Light</ion-label>
                <ion-select value="0" [(ngModel)]="light">
                  <ion-option value="0" >Off</ion-option>
                  <ion-option value="100" >On</ion-option>
                </ion-select>
                </ion-item>
  </ion-list>

  <button padding ion-button block full style="margin-top: 10px;" (click)="addSlot()" class="uploadButton"> Add this slot  </button>

  

    <ion-list *ngFor="let tempslot of schedule">
      <ion-card padding>
        <ion-grid>
        
            <ion-row>
              <ion-col col-6>
              {{tempslot.start}}
            </ion-col>
            <ion-col col-6>
              {{tempslot.video?"Video":("Photo, ISO:" +tempslot.iso)}}, Light:{{tempslot.light}} 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
              {{tempslot.stop}}
            </ion-col>
            <ion-col col-6>
              {{tempslot.video?"":("Freq: "+tempslot.frequency+" Shutter: "+ tempslot.shutter_speed/1000000)}}
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <button ion-button full class="uploadButton" (click)="remitem(tempslot)">Remove</button>
              </ion-col>
            </ion-row>
      
            

        </ion-grid>
      
      </ion-card>
    </ion-list>

</ion-content>
<ion-footer>
  <button padding ion-button block full style="margin-top: 10px;" (click)="sendConfig()" class="uploadButton"> Send Data via WiFi </button>
</ion-footer> 


      <!-- <ion-col col-6>
                <button ion-button full class="uploadButton">Repeat Daily</button>
              </ion-col> -->
